/* ALL */

* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0; 
    overflow: scroll;
    display: flex;
    flex-direction: column;
    font-family: 'roboto, Times New Roman', Times, serif;
}
/*DEV VIEW
main {
    border: 2px solid red;
}

.inner-column {
    border: 3px solid orange;
}

.hero-content {
    border: 4px solid yellow;
}


.inner-column .side-width-smaller {
    border: 5px solid red;
}
*/

/*SETTINGS*/
html {
    --side-width-standard: 20px;
    --side-width-smaller: 40px;
}


html {
    --buttonblue: #3882f6;
    --backgroundblue: #1f2937;
    --quotegrey: #e5e7eb;
}

/* TYPE FONTS */

.hero-main-font {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary-font {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo-font {
    font-size: 24px;
    color: #f9faf8;
}

.info-header-font {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote-font {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

/* COMPONENTS */

.button {
    display: inline-block;
    background-color: var(--buttonblue);
    margin-right: auto;
    padding: 12px 20px;
    border-radius: 5px;
}

/*Header*/
.inner-column.-header {
    /*Padding spot to make the side column gaps i think?*/
    padding: 5px var(--side-width-standard) 1vh;
    width: 98%;
    max-width: 850px;  
    display: flex;
    flex: 0 1 auto; 
    align-items: baseline;  
}

.header {
    background-color: var(--backgroundblue);
}

.logo{
    margin-right: auto;
}

.nav {
    display: flex;
    gap: 10px;
    list-style: none;
    padding-inline-start: 0;
}

/*MAIN*/
main {
    /*sticky header*/
    flex-grow: 1;
}

.inner-column {
    display: block;
    /*Padding spot to make the side column gaps i think?*/
    padding: var(--side-width-standard);
    width: 98%;
    margin: auto;
    max-width: 850px;
}

.side-width-smaller {
    padding: 0 var(--side-width-smaller);
}


/*SET UP*/

img {
    display: block;
    width: 100%;
    height: auto;
    /* could use this for the other images or might leave it universal*/
    border-radius: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

/*HERO*/
.hero {
    background-color: var(--backgroundblue);
}
.hero-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.hero-content :is(.hero-text, .hero-image) {
    flex-basis: 50%;
    align-content: center   
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* INFO*/

.info-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.info-container {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 52px;
}

/* QUOTE */

.quote {
    background-color: #e5e7eb;
}

blockquote {
    margin: 0;
    padding: 0;
}

.quotefooter {
    text-align: end;
    font-weight: bold;
}





/* pause
.call-to-action {
    background-color: #3882f6;
}
*/

/*FOOT*/
.footer {
    background-color: var(--backgroundblue);
    color: #e5e7eb;
    display: flex;
    justify-content: center;
}